div div p{
    font-family: sans-serif;
}
div div h3{
    font-family: 'Times New Roman';
}
.date{
    font-family: cursive;
}
#viewp{
    size: 7rem;
    margin-top: 20px;
    background-color: rgb(119, 154, 230);
    text-align: center;
}