.u-body {
  font-size: 1rem;
  line-height: 1.6;
}

.u-body h1,
.u-body h2,
.u-body h3,
.u-body h4,
.u-body h5,
.u-body h6 {
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  line-height: 1.2;
  font-weight: 500;
  color: inherit;
}

h1 {
  font-size: 2.25rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 1.25rem;
}
h5 {
  font-size: 1.125rem;
}
h6 {
  font-size: 1.125rem;
}
p {
  margin-top: 0;
  padding: 0;
  margin-bottom: 0.5rem;
}
.u-uppercase {
  text-transform: uppercase;
}
.u-align-left {
  text-align: left;
}
@media (min-width: 1200px) {
  .u-align-left-xl {
    text-align: left;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .u-align-left-lg {
    text-align: left;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .u-align-left-md {
    text-align: left;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .u-align-left-sm {
    text-align: left;
  }
}
@media (max-width: 575px) {
  .u-align-left-xs {
    text-align: left;
  }
}
.u-align-center {
  text-align: center;
}
@media (min-width: 1200px) {
  .u-align-center-xl {
    text-align: center;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .u-align-center-lg {
    text-align: center;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .u-align-center-md {
    text-align: center;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .u-align-center-sm {
    text-align: center;
  }
}
@media (max-width: 575px) {
  .u-align-center-xs {
    text-align: center;
  }
}
.u-align-right {
  text-align: right;
}
@media (min-width: 1200px) {
  .u-align-right-xl {
    text-align: right;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .u-align-right-lg {
    text-align: right;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .u-align-right-md {
    text-align: right;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .u-align-right-sm {
    text-align: right;
  }
}
@media (max-width: 575px) {
  .u-align-right-xs {
    text-align: right;
  }
}
.u-align-justify {
  text-align: justify;
}
@media (min-width: 1200px) {
  .u-align-justify-xl {
    text-align: justify;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .u-align-justify-lg {
    text-align: justify;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .u-align-justify-md {
    text-align: justify;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .u-align-justify-sm {
    text-align: justify;
  }
}
@media (max-width: 575px) {
  .u-align-justify-xs {
    text-align: justify;
  }
}

.u-clearfix:after,
.u-clearfix:before {
  content: '';
  display: table;
}
.u-clearfix:after {
  clear: both;
}
.u-image-round {
  border-radius: 10px;
}

.u-sheet .u-sheet {
  width: 100%;
}
.u-container-layout {
  position: relative;
  flex: 1;
  max-width: 100%;
}
.u-inner-container-layout,
.u-container-layout > * {
  position: relative;
}
.u-expanded {
  position: absolute !important;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.u-expanded-width {
  width: 100% !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}
@media (min-width: 1200px) {
  .u-expanded-width-xl {
    width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .u-expanded-width-lg {
    width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .u-expanded-width-md {
    width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .u-expanded-width-sm {
    width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}
@media (max-width: 575px) {
  .u-expanded-width-xs {
    width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}
.u-expanded-height {
  position: absolute !important;
  height: 100% !important;
  top: 0 !important;
}
@media (min-width: 1200px) {
  .u-expanded-height-xl {
    position: absolute !important;
    height: 100% !important;
    top: 0 !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .u-expanded-height-lg {
    position: absolute !important;
    height: 100% !important;
    top: 0 !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .u-expanded-height-md {
    position: absolute !important;
    height: 100% !important;
    top: 0 !important;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .u-expanded-height-sm {
    position: absolute !important;
    height: 100% !important;
    top: 0 !important;
  }
}
@media (max-width: 575px) {
  .u-expanded-height-xs {
    position: absolute !important;
    height: 100% !important;
    top: 0 !important;
  }
}

.u-sheet .u-sheet {
  width: 100%;
}
.u-container-layout {
  position: relative;
  flex: 1;
  max-width: 100%;
}
.u-inner-container-layout,
.u-container-layout > * {
  position: relative;
}
.u-expanded {
  position: absolute !important;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.u-expanded-width {
  width: 100% !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}
@media (min-width: 1200px) {
  .u-expanded-width-xl {
    width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .u-expanded-width-lg {
    width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .u-expanded-width-md {
    width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .u-expanded-width-sm {
    width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}
@media (max-width: 575px) {
  .u-expanded-width-xs {
    width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}
.u-expanded-height {
  position: absolute !important;
  height: 100% !important;
  top: 0 !important;
}
@media (min-width: 1200px) {
  .u-expanded-height-xl {
    position: absolute !important;
    height: 100% !important;
    top: 0 !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .u-expanded-height-lg {
    position: absolute !important;
    height: 100% !important;
    top: 0 !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .u-expanded-height-md {
    position: absolute !important;
    height: 100% !important;
    top: 0 !important;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .u-expanded-height-sm {
    position: absolute !important;
    height: 100% !important;
    top: 0 !important;
  }
}
@media (max-width: 575px) {
  .u-expanded-height-xs {
    position: absolute !important;
    height: 100% !important;
    top: 0 !important;
  }
}
.u-image-circle.u-image {
  border-radius: 50% !important;
}
.u-image-circle.u-expanded-width {
  padding-bottom: 100%;
}
@media (min-width: 1200px) {
  .u-image-circle.u-expanded-width-xl {
    padding-bottom: 100%;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .u-image-circle.u-expanded-width-lg {
    padding-bottom: 100%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .u-image-circle.u-expanded-width-md {
    padding-bottom: 100%;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .u-image-circle.u-expanded-width-sm {
    padding-bottom: 100%;
  }
}
@media (max-width: 575px) {
  .u-image-circle.u-expanded-width-xs {
    padding-bottom: 100%;
  }
}

.u-image {
  display: inline-block;
  background-size: initial;
  background-repeat: repeat;
  background-position: top left !important;
  object-fit: cover;
  display: block;
  vertical-align: middle;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: block;

}

.u-repeater-item {
  display: flex;
  position: relative;
}

.u-tabs:not([class*="u-align-"]),
.u-repeater-item:not([class*="u-align-"]),
.u-container-style:not([class*="u-align-"]) {
  text-align: left;
}

.u-text{
  display: inline-block;
}

.u-image.u-logo {
  display: table;
  white-space: nowrap;
  color: #111111;
}


